{% if session['logged_in'] %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Flight App</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Flight App</h1>
      <div class="btn-container">
        <button class="btn"><a class="test" href="/book"><p>Book Flights</p></a></button>
        <button class="btn"><a class="test" href="/myflights"><p>My Flights</p></a></button>
        <button class="btn"><a class="test" href="/logout"><p>Logout</p></a></button> 
      </div>
      <h1>MY FLIGHTS</h1>
    </div>
  </body>
</html>


{% else %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Flight App</h1>
      <p class="not-login-text">Not Logged In!</p>
      <button class="notbtn"><a class="test" href="/login"><p>Login</p></a></button>
      <button class="notbtn">
        <a class="test" href="/register"><p >Register</p></a>
      </button>

    </div>
  </body>
</html>




{% endif %}
